@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
}

.btn {
  display: block;
  cursor: pointer;
  width: 260px;
  height: 48px;
  background-color: var(--orange-color);
  border: 2px solid transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--white-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1344px) {
  .btn {
    width: 354px;
    height: 70px;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.14em;
  }
}
.btn:hover, .btn:focus {
  color: var(--orange-color);
  border: 2px solid var(--orange-color);
  background-color: transparent;
  transform: scale(1.02);
}
.header .btn {
  color: var(--orange-color);
  border: 2px solid var(--orange-color);
  background-color: transparent;
}
@media screen and (min-width: 1344px) {
  .header .btn {
    width: 336px;
  }
}
.header .btn:hover, .header .btn:focus {
  color: var(--white-color);
  border: 2px solid transparent;
  background-color: var(--orange-color);
  transform: scale(1.02);
}

/*
   Для применения стилей навесить на заголовок секции класс .title или .title--white для белого заголовка.

Пример:
<section class="about">
   <h2 class="title">Это заголовок секции</h2>
...
</section>

<section class="about">
   <h2 class="title--white">Это заголовок белого цвета</h2>
...
</section>
*/
.title,
.title--white {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .title,
.title--white {
    font-size: 26px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1344px) {
  .title,
.title--white {
    font-size: 46px;
    line-height: 1.3;
  }
}

.title {
  color: var(--black-color);
}

.title--white {
  color: var(--white-color);
}

@media screen and (max-width: 767px) {
  .garants__container {
    background-color: var(--grey-bcg-color);
  }

  .garant__title {
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }

  .garants .feature-list__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .feature-list__item {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.666;
  }
  .feature-list__item:not(:last-child) {
    margin-bottom: 23px;
  }
  .feature-list__item::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 15px;
    height: 20px;
    background-image: url("/campfire.df7ed37a.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .feature-list__item:nth-child(-n+3):before {
    position: absolute;
    content: "";
    left: 6px;
    top: 25px;
    width: 3px;
    height: 68px;
    background-image: url("/dash_dot.c7208467.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .feature-list__description {
    display: inline-block;
    margin-left: 35px;
  }
  .feature-list__description span {
    color: var(--orange-color);
  }

  .comments__title {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .comments .comments-main-foto__main-foto {
    margin-right: auto;
    margin-left: auto;
  }

  .comments-list {
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.1);
  }

  .comments-list__name {
    display: block;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.214;
    text-align: center;
    letter-spacing: 0.08em;
    margin-bottom: 10px;
    color: var(--orange-color);
  }

  .comments-list .comments-list__info {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.08em;
    color: var(--grey-color);
    margin-bottom: 10px;
  }

  .comments-list .comments-list-icon__vk {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .comments-list__description {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: var(--mob-grey-color);
  }
  .comments-list__description span {
    display: inline-block;
    color: var(--orange-color);
    text-decoration: underline;
  }

  .comments-list__item {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .comments-under__list {
    display: flex;
    position: relative;
    margin-right: 0;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 50px;
    justify-content: center;
  }
  .comments-under__list::before {
    position: absolute;
    content: "";
    width: 27px;
    height: 16px;
    top: 19px;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/arrow_left.3d990efa.svg");
  }
  .comments-under__list::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 27px;
    height: 16px;
    top: 19px;
    right: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/arrow_right.92b369d4.svg");
  }

  .comments-under__item:nth-child(-n+2) {
    margin-right: 10px;
  }

  .comments-under__item:nth-child(n+4) {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .garant__title {
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }

  .garants .feature-list__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .garants .garants__container {
    width: 688px;
    padding-right: 0;
    background-color: var(--grey-bcg-color);
  }

  .feature-list__item {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.666;
    padding-right: 100px;
    padding-left: 40px;
  }
  .feature-list__item:not(:last-child) {
    margin-bottom: 23px;
  }
  .feature-list__item::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 15px;
    height: 20px;
    background-image: url("/campfire.df7ed37a.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .feature-list__item:nth-child(-n+3):before {
    position: absolute;
    content: "";
    left: 6px;
    top: 28px;
    width: 3px;
    height: 30px;
    background-image: url("/dash_dot_tablet.600b7ca5.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .feature-list__description span {
    color: var(--orange-color);
  }

  .mobile-comment-container {
    position: relative;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.1);
    padding: 40px;
  }
  .mobile-comment-container::before {
    position: absolute;
    content: "";
    width: 27px;
    height: 16px;
    top: 50%;
    left: -13px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/arrow_left.3d990efa.svg");
  }
  .mobile-comment-container::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 27px;
    height: 16px;
    top: 50%;
    right: -13px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/arrow_right.92b369d4.svg");
  }

  .container_main_comment {
    padding-right: 46px;
  }

  .comments__title {
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .comments-list {
    display: flex;
  }

  .comments .comments-main-foto__main-foto {
    min-width: 150px;
    min-height: 150px;
    margin-right: auto;
    margin-left: auto;
  }

  .comments-list__name {
    display: block;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    margin-bottom: 20px;
    color: var(--orange-color);
  }

  .comments-list .comments-list__info {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    color: var(--grey-color);
    margin-bottom: 10px;
  }

  .comments-list .comments-list-icon__vk {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .comments-list__description {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: var(--mob-grey-color);
  }
  .comments-list__description span {
    color: var(--orange-color);
    text-decoration: underline;
  }

  .comments-under__list {
    display: flex;
    margin-right: 0;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 50px;
    justify-content: center;
  }

  .comments-under__item:nth-child(-n+6) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1344px) {
  .garant__title {
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }

  .garants .garants__container {
    width: 1314px;
    padding: 0;
    background-color: var(--grey-bcg-color);
  }

  .garants .feature-list__container {
    padding-top: 50px;
    padding-bottom: 45px;
    padding-right: 112px;
  }

  .feature-list {
    display: block;
    margin-left: 112px;
    background-color: var(--grey-bcg-color);
  }

  .feature-list__item {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    padding-right: 50px;
    padding-left: 52px;
  }
  .feature-list__item:not(:last-child) {
    margin-bottom: 23px;
  }
  .feature-list__item::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 22px;
    height: 30px;
    background-image: url("/campfire.df7ed37a.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .feature-list__item:nth-child(-n+3):before {
    position: absolute;
    content: "";
    left: 10px;
    top: 34px;
    width: 3px;
    height: 40px;
    background-image: url("/dash_dot_desk.7b608f4f.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .feature-list__description {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
  }
  .feature-list__description span {
    color: var(--orange-color);
  }

  .comments__title {
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .comments-list .comments-list-icon__vk {
    width: 30px;
    height: 30px;
    margin-top: 20px;
  }

  .comments-list {
    width: 1090px;
    justify-content: center;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.1);
  }

  .mobile-comment-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-right: 0;
    padding-left: 0;
    box-shadow: none;
  }
  .mobile-comment-container::before {
    position: absolute;
    content: "";
    width: 27px;
    height: 16px;
    top: 50%;
    left: -13px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/arrow_left.3d990efa.svg");
  }
  .mobile-comment-container::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 27px;
    height: 16px;
    top: 50%;
    right: -13px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/arrow_right.92b369d4.svg");
  }

  .container_main_comment {
    padding-right: 40px;
  }

  .comments-list__item {
    max-width: 706px;
  }

  .comments-list__name {
    display: block;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 1.233;
    letter-spacing: 0.08em;
    margin-bottom: 20px;
    margin-top: 50px;
    color: var(--orange-color);
  }

  .comments-list .comments-list__info {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.08em;
    color: var(--grey-color);
  }

  .comments-list__description {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.555;
    padding-bottom: 51px;
    color: var(--mob-grey-color);
  }

  .comments-list__main-foto {
    padding-top: 50px;
  }

  .comments-under__item:nth-child(-n+7) {
    margin-right: 30px;
  }

  .comments-under__list {
    margin-left: 30px;
  }
}
@media screen and (min-width: 320px) {
  .main_problems {
    width: 100%;
    margin-bottom: 120px;
    background-color: var(--black-color);
  }

  .main_problems__black {
    position: relative;
    height: 545px;
  }

  .main_problems__img {
    display: none;
  }

  .main_problems__title {
    padding-top: 50px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.36;
    color: var(--white-color);
    letter-spacing: 0.03em;
  }

  .main_problems__title-orange {
    color: var(--orange-color);
  }

  .main_problems__list {
    display: block;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 27px;
    width: 280px;
    list-style: none;
    background-color: var(--white-color);
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  }
  .main_problems__list ul {
    list-style: none;
    padding-left: 30px;
    display: block;
  }
  .main_problems__list li {
    padding-top: 15px;
  }
  .main_problems__list .main_problems__item-desc {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.08em;
    color: var(--black-color);
  }
  .main_problems__list .main_problems__item:last-child {
    margin-bottom: 20px;
  }
  .main_problems__list .main_problems__item-number {
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.08em;
    font-weight: 700;
    color: #ff6b09;
    position: relative;
    padding-left: 20px;
    padding-bottom: 5px;
  }
  .main_problems__list .main_problems__item-number::after {
    position: absolute;
    top: 7px;
    left: -1px;
    content: "";
    display: inline-block;
    width: 15px;
    height: 2px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.649;
    letter-spacing: 0.08em;
    background-color: var(--orange-color);
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .main_problems {
    width: 100%;
    margin-bottom: 145px;
    background-color: var(--black-color);
  }

  .main_problems__black {
    position: relative;
    height: 340px;
  }

  .main_problems__title {
    padding-top: 59.5px;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--white-color);
  }

  .main_problems__list {
    width: 688px;
    height: 303px;
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
    list-style: none;
    background-color: var(--white-color);
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  }

  .main_problems__list ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-left: 50px;
  }

  .main_problems__list li {
    padding-right: 0;
    padding-top: 0;
    line-height: 20px;
    margin-bottom: 24px;
  }

  .main_problems__item {
    padding-left: 50px;
    padding-bottom: 10px;
  }
  .main_problems__item:nth-child(2n) {
    padding-left: 100px;
  }
  .main_problems__item:nth-child(4) {
    padding-left: 64px;
  }
  .main_problems__item:nth-child(6) {
    padding-left: 120px;
  }
}
@media screen and (min-width: 1344px) {
  .main_problems {
    position: relative;
    width: 100%;
    height: 449px;
    margin-bottom: 170px;
    background-image: url(/fire-in-problems.1da52d4e.png);
    background-size: 453px 620px;
    background-position: calc(50% + 670px) 50px;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1344px) and (min-device-pixel-ratio: 2), screen and (min-width: 1344px) and (min-resolution: 192dpi), screen and (min-width: 1344px) and (min-resolution: 2dppx) {
  .main_problems {
    background-image: url(/fire-in-problems@2x.b567d4aa.png);
  }
}
@media screen and (min-width: 1344px) {
  .main_problems__title {
    font-weight: 800;
    font-size: 46px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--white-color);
  }
}
@media screen and (min-width: 1344px) {
  .main_problems__img {
    position: absolute;
    top: 100px;
    right: -130px;
    display: block;
  }
}
@media screen and (min-width: 1344px) {
  .main_problems__list {
    margin-top: 150px;
    width: 1323px;
    height: 362px;
  }
}
@media screen and (min-width: 1344px) {
  .main_problems__item {
    flex-basis: calc((100% - 2 * 40px) / 3);
  }
}
@media screen and (min-width: 1344px) {
  .main_problems__list .main_problems__item-number {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.649;
    align-items: center;
    letter-spacing: 0.08em;
    color: var(--orange-color);
    margin-bottom: 10px;
  }
  .main_problems__list .main_problems__item-number::after {
    position: absolute;
    top: 14px;
    left: -1px;
    content: "";
    display: inline-block;
    width: 15px;
    height: 2px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.649;
    letter-spacing: 0.08em;
    background-color: var(--orange-color);
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1344px) {
  .main_problems__list .main_problems__list-item {
    padding-top: 70px;
    padding-bottom: 62px;
  }
}
@media screen and (min-width: 1344px) {
  .main_problems__list .main_problems__item-desc {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    color: var(--black-color);
  }
}
@media screen and (min-width: 1344px) {
  .main_problems__item:nth-child(1) {
    padding-left: 55px;
  }
  .main_problems__item:nth-child(2) {
    padding-left: 55px;
  }
  .main_problems__item:nth-child(3) {
    padding-left: 55px;
  }
  .main_problems__item:nth-child(4) {
    padding-left: 55px;
  }
  .main_problems__item:nth-child(5) {
    padding-left: 55px;
  }
  .main_problems__item:nth-child(6) {
    padding-left: 55px;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.header__body {
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  margin-left: auto;
}

.menu__list {
  list-style: none;
}
.menu__link {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: var(--orange-color);
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-open {
  width: 21px;
  height: 14px;
}

.burger-close {
  width: 17px;
  height: 17px;
}

@media screen and (max-width: 767.99px) {
  .logo {
    display: none;
  }
  .logo__image {
    width: 80px;
    height: 28px;
  }

  .logo-mobile {
    display: block;
  }

  .logo-menu-tablet {
    display: none;
  }

  .logo-menu-mobile {
    display: block;
  }

  .header__menu {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 21, 24, 0.9);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__menu.is-open {
    left: 0;
  }
  .header__menu .mobile-menu {
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .header__menu .menu {
    margin-bottom: 50px;
  }
  .header__menu .btn {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343.5px) {
  .header__body {
    height: 128px;
  }

  .logo {
    display: block;
  }
  .logo__image {
    width: 128px;
    height: 45px;
  }

  .logo-mobile {
    display: none;
  }

  .logo-menu-tablet {
    display: block;
  }

  .logo-menu-mobile {
    display: none;
  }

  .header__menu-tablet {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 21, 24, 0.9);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__menu-tablet.is-open {
    left: 0;
  }
  .header__menu-tablet .mobile-menu {
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .header__menu .btn {
    margin-right: 40px;
  }

  .menu__link {
    font-size: 26px;
  }
}
@media screen and (min-width: 1344px) {
  .header__body {
    height: 130px;
  }

  .logo {
    display: block;
  }
  .logo__image {
    width: 128px;
    height: 45px;
  }

  .logo-mobile {
    display: none;
  }

  .logo-menu-tablet {
    display: none;
  }

  .logo-menu-mobile {
    display: none;
  }

  .menu-button {
    display: none;
  }

  .menu__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.214;
    text-transform: uppercase;
    color: var(--grey-color);
  }

  .menu__list {
    display: flex;
  }

  .menu__item:not(:last-child) {
    margin-right: 40px;
  }

  .header__menu {
    display: flex;
    align-items: center;
  }
  .header__menu .container {
    padding: 0;
  }
  .header__menu .btn {
    margin-left: 60px;
  }
}
.hero {
  max-width: 1900px;
  margin: 0 auto;
}
.hero__top {
  background-image: url(/girls-mobile.7604b6f7.png), url(/bg-line-mobile.84b994b4.png);
  background-size: 208px 177.5px, cover;
  background-position: center bottom 47px, center bottom -25px;
  background-repeat: no-repeat, no-repeat;
  margin-bottom: -25px;
  padding-bottom: 25px;
  height: 100%;
}
.hero__body {
  height: 618px;
  padding-top: 109.5px;
}
.hero__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-bottom: 30px;
}
.hero__top-promo {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.08em;
  color: var(--grey-color);
}
.hero__bottom-promo {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.08em;
  color: var(--black-color);
  margin-bottom: 30px;
}
.hero__bottom-promo span {
  color: var(--orange-color);
}
.hero .btn {
  margin-right: auto;
  margin-left: auto;
}
.hero__bottom {
  margin-top: 30px;
  margin-bottom: 50px;
}
.hero__list {
  list-style: none;
  width: 240px;
  margin: 0 auto;
}
.hero__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: var(--black-color);
  height: 60px;
  padding-left: 70px;
  display: flex;
  align-items: center;
}
.hero__item:nth-child(1) {
  background-image: url(/student.86461967.svg), url(/rectangle.7cdd1a2d.svg);
  background-position: left 13px center, left center;
  background-repeat: no-repeat, no-repeat;
  background-size: auto auto, 58px 60px;
}
.hero__item:nth-child(2) {
  background-image: url(/mobile_learning.11333527.svg), url(/rectangle.7cdd1a2d.svg);
  background-position: left 10px center, left center;
  background-repeat: no-repeat, no-repeat;
  background-size: auto auto, 58px 60px;
}
.hero__item:nth-child(3) {
  background-image: url(/insurance.64bdd1c6.svg), url(/rectangle.7cdd1a2d.svg);
  background-position: left 12px center, left center;
  background-repeat: no-repeat, no-repeat;
  background-size: auto auto, 58px 60px;
}
.hero__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__top {
    background-image: url(/girls-mobile@2x.86713805.png), url(/bg-line-mobile@2x.9de82dfa.png);
  }
}
@media screen and (min-width: 768px) {
  .hero__top {
    background-image: url(/girls-tablet.21b0459c.png), url(/bg-line-tablet.4a86c223.png);
    background-size: 376px 320px, cover;
    background-position: calc(50% + 180px) 172px, center bottom -10px;
    background-repeat: no-repeat, no-repeat;
    margin-bottom: -10px;
    padding-bottom: 10px;
  }
  .hero__body {
    height: 556.5px;
    padding-top: 158px;
  }
  .hero__title {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 30px;
    max-width: 285px;
  }
  .hero__bottom-promo {
    max-width: 285px;
  }
  .hero .btn {
    margin-left: 0;
  }
  .hero__bottom {
    margin-top: 50px;
  }
  .hero__list {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .hero__item {
    padding-left: 70px;
    flex: 1 0 calc(33.3% - 20px);
  }
  .hero__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__top {
    background-image: url(/girls-tablet@2x.4f366f64.png), url(/bg-line-tablet@2x.a75ee314.png);
  }
}
@media screen and (min-width: 1344px) {
  .hero__top {
    background-image: url(/girls-desktop.b91db7d0.png), url(/bg-line-desktop.c8b24eb9.png);
    background-size: 842px 718px, cover;
    background-position: calc(50% + 380px) 150px, center bottom -10px;
    background-repeat: no-repeat, no-repeat;
    margin-bottom: -10px;
    padding-bottom: 10px;
  }
  .hero__body {
    height: 950px;
    padding-top: 228.5px;
  }
  .hero__title {
    font-size: 58px;
    margin-bottom: 24px;
    max-width: 640px;
  }
  .hero__top-promo {
    font-size: 20px;
    line-height: 1.65;
  }
  .hero__bottom-promo {
    max-width: 640px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.65;
  }
  .hero__bottom {
    margin-top: 93px;
    margin-bottom: 130px;
  }
  .hero__item {
    font-size: 20px;
    line-height: 1.65;
    height: 102px;
    padding-left: 82px;
    flex: 1 0 33.3%;
  }
  .hero__item:not(:last-child) {
    margin-bottom: 0;
  }
  .hero__item:nth-child(1) {
    background-position: left 25px center, left center;
    background-size: 40px 46px, 100px 102px;
  }
  .hero__item:nth-child(2) {
    background-position: left 22px center, left center;
    background-size: 48px 47px, 100px 102px;
  }
  .hero__item:nth-child(3) {
    background-position: left 24px center, left center;
    background-size: 42px 48px, 100px 102px;
  }
}
@media screen and (min-width: 1344px) and (min-device-pixel-ratio: 2), screen and (min-width: 1344px) and (min-resolution: 192dpi), screen and (min-width: 1344px) and (min-resolution: 2dppx) {
  .hero__top {
    background-image: url(/girls-desktop@2x.0282ab6f.png), url(/bg-line-desktop@2x.fa6206be.png);
  }
}
@media screen and (max-width: 767px) {
  .how-we-do-it {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1343px) {
  .how-we-do-it {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1344px) {
  .how-we-do-it {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.how-we-do-it__title {
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
@media screen and (max-width: 767px) {
  .how-we-do-it__title {
    font-size: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 767px) and (max-width: 1343px) {
  .how-we-do-it__title {
    font-size: 26px;
    text-align: center;
  }
}
@media screen and (max-width: 1343px) {
  .how-we-do-it__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1344px) {
  .how-we-do-it__title {
    font-size: 46px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .how-we-do-it__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 767px) and (max-width: 1343px) {
  .how-we-do-it__list {
    margin-top: -27px;
    margin-left: -20px;
  }
}
@media screen and (min-width: 1344px) {
  .how-we-do-it__list {
    margin-top: -20px;
    margin-left: -20px;
  }
}

.how-we-do-it__item {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .how-we-do-it__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1343px) {
  .how-we-do-it__item {
    margin-top: 27px;
    margin-left: 20px;
    flex-basis: calc(100% / 2 - 20px);
  }
}
@media screen and (min-width: 1344px) {
  .how-we-do-it__item {
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: calc(100% / 3 - 20px);
  }
}

.how-we-do-it__link {
  display: block;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .how-we-do-it__link {
    height: 280px;
    padding-top: 30px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1343px) {
  .how-we-do-it__link {
    height: 334px;
    padding-top: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .how-we-do-it__link {
    height: 396px;
    padding-top: 40px;
  }
}
.how-we-do-it__link:hover, .how-we-do-it__link:focus {
  color: var(--white-color);
  background-color: var(--orange-color);
}

.how-we-do-it__icon {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  fill: var(--orange-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.how-we-do-it__link:hover .how-we-do-it__icon, .how-we-do-it__link:focus .how-we-do-it__icon {
  fill: var(--white-color);
}

.how-we-do-it__item-title {
  font-weight: 700;
  letter-spacing: 0.08em;
  color: var(--black-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1343px) {
  .how-we-do-it__item-title {
    font-size: 14px;
    line-height: 1.43;
  }
}
@media screen and (min-width: 768px) {
  .how-we-do-it__item-title {
    padding: 0 30px;
  }
}
@media screen and (min-width: 1344px) {
  .how-we-do-it__item-title {
    font-size: 20px;
    line-height: 1.4;
  }
}
.how-we-do-it__link:hover .how-we-do-it__item-title, .how-we-do-it__link:focus .how-we-do-it__item-title {
  color: var(--white-color);
}

.how-we-do-it__item-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: var(--grey-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 767px) and (max-width: 1343px) {
  .how-we-do-it__item-text {
    padding: 0 22px;
  }
}
@media screen and (min-width: 1344px) {
  .how-we-do-it__item-text {
    padding: 0 27px;
    font-size: 18px;
    line-height: 1.56;
  }
}
.how-we-do-it__link:hover .how-we-do-it__item-text, .how-we-do-it__link:focus .how-we-do-it__item-text {
  color: var(--white-color);
}

.dash {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.65;
  letter-spacing: 0.08em;
  color: var(--orange-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 767px) and (max-width: 1343px) {
  .how-we-do-it .dash {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.how-we-do-it__link:hover .dash,
.how-we-do-it__link:focus .dash {
  color: var(--white-color);
}

/*-------------OUR PROGRAMM SECTION -------------*/
.sections-wrapper {
  position: relative;
}

.programm {
  background-color: var(--black-color);
  background-image: url(/women_our_program-mobile.f4a0b05e.png);
  background-repeat: no-repeat;
  background-size: 176px 137px;
  background-position: left calc(50% + 127px) top 1473px;
  color: var(--white-color);
  margin-bottom: 270px;
  padding-top: 50px;
  padding-bottom: 537px;
}

.programm__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 43px;
}

.programm__semester-list {
  position: relative;
  border-left: 1px solid var(--white-color);
  padding-left: 20px;
  margin-left: 67px;
}
.programm__semester-list:before {
  position: absolute;
  top: -1px;
  left: -6px;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--black-color);
}
.programm__semester-list:after {
  position: absolute;
  bottom: -1px;
  left: -6px;
  content: "";
  display: block;
  width: 12px;
  height: 96px;
  background-color: var(--black-color);
}

.programm__semester-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.programm__semester-list-title {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.programm__semester-list-title::before {
  position: absolute;
  top: 50%;
  left: -26px;
  transform: translateY(-50%);
  content: "";
  background-color: var(--orange-color);
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.programm__study-section-title {
  font-weight: 700;
  font-size: 12px;
  line-height: 2.67;
  letter-spacing: 0.08em;
  color: var(--orange-color);
  margin-bottom: 5px;
}
.programm__study-section-title::before {
  content: "—";
  color: var(--orange-color);
  margin-right: 6px;
}

.programm__study-section-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.programm__study-subject-list-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: var(--grey-color);
  opacity: 0.5;
}

.programm__semester-list-item:nth-child(3) .programm__study-section-list-item:first-child .programm__study-section-title,
.programm__semester-list-item:nth-child(3) .programm__study-section-list-item:nth-child(2) .programm__study-section-title,
.programm__semester-list-item:nth-child(5) .programm__study-section-list-item:first-child .programm__study-section-title {
  margin-bottom: 10px;
}

/*-------------MEDIA-RULES FOR MOBILE  -------------*/
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .programm {
    background-image: url(/women_our_program-mobile@2x.c0a03584.png);
  }
}
/*-------------MEDIA-RULES FOR TABLET -------------*/
@media screen and (min-width: 768px) {
  .programm {
    margin-bottom: 302px;
    background-position: calc(50% + 192px) 822px;
    background-image: url(/women_our_program-tablet.5616119f.png);
    background-size: 384px 280px;
    padding-top: 60px;
    padding-bottom: 392px;
  }

  .programm__title {
    text-align: left;
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 52px;
  }

  .programm__semester-list {
    margin-left: 63px;
    padding-left: 56px;
  }

  .programm__semester-list-title:before {
    left: -62px;
  }

  .programm__semester-list-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .programm__study-section-list {
    display: flex;
  }

  .programm__study-section-list-item {
    display: block;
    margin-right: 50px;
  }
  .programm__study-section-list-item:first-child {
    width: 182px;
  }
  .programm__study-section-list-item:nth-child(2) {
    width: 155px;
  }
  .programm__study-section-list-item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .programm {
    background-image: url(/women_our_program-tablet@2x.a09bb770.png);
  }
}
/*-------------MEDIA-RULES FOR DESKTOP -------------*/
@media screen and (min-width: 1344px) {
  .programm {
    position: relative;
    margin-bottom: 329px;
    background-image: url(/women_our_program-desk.215b8e85.png);
    background-size: 672px 502px;
    background-position: calc(50% - 498px) 676px;
    margin-bottom: 329px;
    padding-top: 120px;
    padding-bottom: 363px;
  }

  .programm__title {
    font-size: 46px;
    line-height: 1.3;
    margin-bottom: 100px;
  }

  .programm__semester-list {
    position: static;
    display: flex;
    justify-content: space-between;
    border-left: none;
    padding-left: 0;
    margin-left: 0;
    padding-top: 60px;
  }
  .programm__semester-list:before {
    top: 278px;
    left: 0;
    content: "";
    display: block;
    width: 100vw;
    height: 1px;
    background-color: var(--white-color);
  }
  .programm__semester-list:after {
    display: none;
  }

  .programm__semester-list-title-number {
    font-size: 30px;
    line-height: 0.93;
  }

  .programm__semester-list-title {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 25px;
  }
  .programm__semester-list-title::before {
    top: -60px;
    left: 0;
  }

  .programm__semester-list-item {
    width: calc((100% - 4 * 27px) / 5);
  }

  .programm__semester-list-item:not(:last-child) {
    margin-bottom: 0;
  }

  .programm__study-section-list {
    display: block;
  }

  .programm__study-section-title {
    font-size: 20px;
    line-height: 1.64;
    margin-bottom: 10px;
  }
  .programm__study-section-title::before {
    margin-right: 10px;
  }

  .programm__study-section-list-item {
    margin-right: 0;
  }
  .programm__study-section-list-item:first-child {
    width: 100%;
  }
  .programm__study-section-list-item:nth-child(2) {
    width: 100%;
  }

  .programm__study-section-list-item:not(:last-child) {
    margin-bottom: 25px;
  }

  .programm__study-subject-list-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
  }
}
@media screen and (min-width: 1344px) and (min-device-pixel-ratio: 2), screen and (min-width: 1344px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1344px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1344px) and (min-resolution: 192dpi), screen and (min-width: 1344px) and (min-resolution: 2dppx) {
  .programm {
    background-image: url(/women_our_program-desk@2x.dc3da4cc.png);
  }
}
@media screen and (min-width: 320px) {
  .teacher {
    padding-bottom: 50px;
  }

  .teacher__title {
    max-width: 320px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.36;
    letter-spacing: 0.03em;
  }

  .teacher__subtitle {
    padding-top: 20px;
    font-size: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #b9b9b9;
  }

  .teacher__about {
    padding-top: 20px;
  }
  .teacher__about .teacher__list {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }
  .teacher__about .teacher__list li {
    padding-bottom: 30px;
    padding-left: 30px;
    list-style: none;
    background: url(/vect.7a92f53c.png) no-repeat 0 0;
  }
  .teacher__about .teacher__list::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #ff6b09;
    margin-bottom: 20px;
  }

  .teacher__p {
    font-size: 14px;
    color: #b9b9b9;
    line-height: 26px;
  }

  .teacher__p {
    padding-bottom: 20px;
  }

  .teacher__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    text-decoration-line: underline;
    color: var(--orange-color);
  }
}
@media screen and (min-width: 768px) {
  .teacher__title {
    padding-bottom: 20px;
    max-width: 768px;
    font-size: 28px;
  }

  .teacher__subtitle {
    padding-top: 0;
  }

  .teacher__block {
    display: flex;
  }

  .teacher__desc {
    padding-left: 50px;
  }

  .teacher__p {
    font-size: 13px;
  }

  .teacher__about .teacher__list li {
    padding-left: 30px;
  }

  .teacher__item {
    font-size: 14px;
  }
}
@media screen and (min-width: 1344px) {
  .teacher {
    padding-bottom: 100px;
  }

  .teacher__title {
    font-weight: 800;
    font-size: 46px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--black-color);
  }

  .teacher__desc {
    max-width: 697px;
  }

  .teacher__p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
    color: #b9b9b9;
  }

  .teacher__about .teacher__list li {
    padding-left: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.06em;
    color: var(--black-color);
  }

  .teacher__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
    text-decoration-line: underline;
    color: #ff6b09;
  }
}
.why-us {
  position: absolute;
  top: 1563px;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
}

.why-us__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  padding-right: 30px;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.why-us__list-wrapper {
  padding-top: 20px;
  padding-right: 14px;
  padding-bottom: 20px;
  padding-left: 30px;
  background: var(--white-color);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.why-us__list {
  counter-reset: section;
}

.why-us__list-item::before {
  counter-increment: section;
  content: "— 0" counter(section);
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.649;
  letter-spacing: 0.08em;
  color: var(--orange-color);
}

.why-us__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: var(--black-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .why-us__list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .why-us {
    top: 1152px;
    width: 768px;
  }

  .why-us__title {
    font-size: 26px;
    line-height: 1.3;
    padding-right: 0;
    text-align: center;
    margin-bottom: 30px;
  }

  .why-us__list-wrapper {
    padding-top: 30px;
    padding-right: 98px;
    padding-bottom: 25px;
    padding-left: 98px;
  }

  .why-us__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -30px;
  }

  .why-us__list-item {
    width: calc((100% - 20px) / 2);
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1344px) {
  .why-us {
    top: 1038px;
    width: 1344px;
  }

  .why-us__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .why-us__list-wrapper {
    padding-top: 70px;
    padding-right: 82px;
    padding-bottom: 70px;
    padding-left: 84px;
  }

  .why-us__list {
    margin-bottom: -32px;
  }

  .why-us__list-item {
    width: calc((100% - 2 * 40px) / 3);
    margin-bottom: 32px;
  }
  .why-us__list-item::before {
    font-size: 20px;
  }

  .why-us__description {
    font-size: 20px;
    line-height: 1.4;
  }
}
.registration {
  padding: 50px 0;
  background-color: var(--black-color);
  background-image: url(/img-registration-m-1x.6ee8c273.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .registration {
    background-image: url(/img-registration-m-@2x.e69393cf.png);
  }
}
.registration__title {
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  min-width: 280px;
  color: var(--white-color);
}
.registration__form-appeal {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  margin-bottom: 30px;
  min-width: 280px;
  color: var(--white-color);
}
.registration__form-label-input {
  display: block;
  min-width: 280px;
  height: 48px;
  border: 1px solid #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: transparent;
}
.registration__form-label-input::placeholder {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 28px;
  color: var(--white-color);
}
.registration__form-button {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid transparent;
  color: var(--white-color);
  min-width: 260px;
  height: 48px;
  background-color: var(--orange-color);
}

.orange-word {
  color: var(--orange-color);
}

@media screen and (min-width: 768px) {
  .registration {
    padding-bottom: 71px;
  }
  .registration__title {
    font-size: 26px;
    line-height: 1.21;
    min-width: 688px;
    padding: 0 6px;
  }
  .registration__form-appeal {
    font-size: 14px;
    line-height: 1.21;
    margin-bottom: 40px;
  }
  .registration__form-label-input {
    min-width: 390px;
  }
  .registration__form-button {
    margin-top: 30px;
  }

  .registration {
    background-image: url(/img-registration-t-1x.093bdf37.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .registration {
    background-image: url(/img-registration-t-@2x.14a00cdf.png);
  }
}
@media screen and (min-width: 1344px) {
  .registration {
    padding-top: 100px;
    padding-bottom: 62px;
  }
  .registration__title {
    font-size: 46px;
    line-height: 1.3;
    min-width: 1090px;
    padding: 0 102px;
  }
  .registration__form-appeal {
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 56px;
  }
  .registration__form-label-input {
    margin-bottom: 30px;
    min-width: 478px;
    height: 70px;
  }
  .registration__form-label-input::placeholder {
    font-size: 20px;
    line-height: 1.2;
  }
  .registration__form-button {
    font-size: 14px;
    line-height: 1.21;
    margin-top: 80px;
    min-width: 354px;
    height: 70px;
  }

  .registration {
    background-image: url(/img-registration-d-1x.f9899264.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}
@media screen and (min-width: 1344px) and (min-device-pixel-ratio: 2) and (min-width: 1344px), screen and (min-width: 1344px) and (min-resolution: 192dpi) and (min-width: 1344px), screen and (min-width: 1344px) and (min-resolution: 2dppx) and (min-width: 1344px) {
  .registration {
    background-image: url(/img-registration-d-@2x.4f66be8f.png);
  }
}
.footer__contact-logo-mobile {
  display: block;
}

.footer__contact-logo-t-d {
  display: none;
}

.footer__contact {
  padding-top: 30px;
}
.footer__contact-logo-icon {
  display: block;
  width: 84px;
  height: 30px;
  margin: auto;
  margin-bottom: 21px;
}
.footer__contact-list-item {
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}
.footer__contact-list-item-tel {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  text-decoration: none;
  color: #111518;
}
.footer__contact-list-item-tel-icon {
  width: 20px;
  height: 19px;
  margin-right: 10px;
}
.footer__contact-list-item-social-icon {
  display: block;
  width: 40px;
  height: 40px;
  margin: auto;
}

.footer__copyrite {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  padding: 21px 0;
  background-color: var(--black-color);
  color: var(--grey-color);
}

@media screen and (min-width: 768px) {
  .footer__contact-logo-mobile {
    display: none;
  }

  .footer__contact-logo-t-d {
    display: block;
  }

  .footer__contact {
    padding-top: 40px;
  }
  .footer__contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .footer__contact-logo-icon {
    display: block;
    width: 128px;
    height: 45px;
    margin-bottom: 0;
  }
  .footer__contact-list-item-tel {
    font-size: 20px;
    line-height: 1.2;
    margin-right: 24px;
  }
  .footer__contact-list-item-tel-icon {
    width: 24px;
    height: 23px;
  }
  .footer__contact-list {
    display: flex;
  }
  .footer__contact-list-item:last-child {
    padding-left: 24px;
    border-left: 1px solid #b9b9b9;
  }
  .footer__contact-list-item {
    margin: auto;
  }

  .footer__copyrite {
    text-align: start;
    padding-left: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .footer__contact-logo-t-d {
    display: block;
    position: absolute;
    left: 0;
  }

  .footer__contact {
    padding-top: 55px;
  }
  .footer__contact-wrapper {
    position: relative;
    justify-content: center;
    margin-bottom: 55px;
  }
  .footer__contact-logo-icon {
    padding-left: 0;
  }
  .footer__contact-list {
    margin-left: 60px;
  }
  .footer__contact-list-item-tel {
    align-items: center;
    font-size: 30px;
    line-height: 1.23;
    margin-right: 16px;
  }

  .footer__copyrite {
    padding-left: 15px;
  }
}
@media screen and (min-width: 1680px) {
  .footer__copyrite {
    padding-left: 168px;
  }
}
.teacher,
.programm,
.how-we-do-it,
.registration,
.hero {
  position: relative;
}

#about-us,
#programm,
#study-options,
#contacts {
  position: absolute;
  top: -89px;
}
@media screen and (min-width: 768px) {
  #about-us,
#programm,
#study-options,
#contacts {
    top: -130px;
  }
}

.container {
  max-width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .container {
    max-width: 1344px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
:root {
  --black-color: #111518;
  --orange-color: #ff6b09;
  --white-color: #ffffff;
  --grey-bcg-color: #f1f1f1;
  --grey-color: #b9b9b9;
  --mob-grey-color: #3d3d3d;
  --bcg-section: #e5e5e5;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */